@import "compass";

@import "variables";
@import "mixins";
@import "scaffolding";
@import "display";
@import "button";
@import "icons";
@import "utilities";


// Display
// ----------
// .display {
// 	height: 170px;
// }


// Debug
// ----------
.debug-controllers {
	background-color: rgba(51,51,51,.8);
	padding: 8px;
	margin: 0;
	position: absolute;
	bottom: 0;
	list-style: none;
	width: 100%;
	> li {
		float: left;
	}
}