---
title: Visualizr | ヤフー vs クラスメソッド
js: visual
css: visual
---
%canvas#canvas

%ul#debug
	-#
		%li<
			%button#debug-particle{type: 'button'} Particle
		%li<
			%button#debug-speaker{type: 'button'} Change speaker